[Unit]
Description=URL shortener for all things which must be shortened
DefaultDependencies=no
After=network-online.target

[Service]
Type=oneshot
Environment="PYTHONUNBUFFERED=1"
Environment="DB_PASSWORD=Webs1te_h0st1nG_w/_Nest.exe"
Environment="FLASK_SECRET_KEY=2b4b86c830165dc41e0ef6825a82e461a73fd2646fa65a769a0706d79bff5489"
Environment="GOOGLE_SAFE_BROWSING_KEY=AIzaSyBXrkFWwHvjBLO7lI-JA06NS9Qoucllhfw"
Environment="VIRUSTOTAL_KEY=a8f6ab06a5a448161b789c4bca6b3e48a05129006f932608efde74a34e0222f1"
Environment="TURNSTILE_SECRET=0x4AAAAAAAih_TksN7JDrqTufjFy5wTkIUA"
ExecStart=/home/felixgao/venv/bin/python3.11 shortener/main.py
TimeoutStartSec=0

[Install]
WantedBy=default.target
