#create-url {
    border: gray solid;
    border-radius: 10px;
    width: 90%;
}

#original-link-field {
    padding: 2px 2px;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

#submit-btn {
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-flashes {
    margin: 0.5rem auto 0.5rem auto;
    width: 50%;
    border: 3px solid #f6464d;
    color: white;
    border-radius: 8px;
    background: #f6464d;
    text-align: center;
}

.center {
    text-align: center;
    margin: auto;
}

.icon {
    cursor: pointer;
}

.box {
    width: 50%;
}

ul {
    list-style-position: inside;
}