ul {
    list-style-position: inside;
}

.left-align {
    text-align: left;
    display: block;
}

.center {
    text-align: center;
    margin: auto;
}

/* Give the icon a pointer cursor, like a button */
.icon {
    cursor: pointer;
}

/* The styling for an input group, like in bootstrap! */
.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    border: 1px solid black;
    border-radius: 10px;
    height: 1.5rem;
}

.form-item {
    width: 100%;
}

.box {
    width: 50%;
}

.error-box {
    display: flex;
    align-items: center;
    gap: 3px;
    color: red;
}

#create-url {
    border: gray solid;
    border-radius: 10px;
    width: 90%;
}

#confirm-checkbox {
    margin-bottom: 0.5rem;
}

#original-link-field {
    padding: 2px 2px;
    box-sizing: border-box;
}

#submit-btn {
    cursor: pointer;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    border-radius: 10px;
    background-color: #1170E4;
    color: white;
    border: none;
    padding: 0.5rem;
}

#submit-btn:disabled {
    cursor: not-allowed;
    background-color: gray;
    transition: background-color 0.2s ease-in-out;
}