#create-url-form {
    border: gray solid;
    border-radius: 10px;
    width: 90%;
}

#submit-btn {
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
    margin: auto;
}