<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Resource Monitor & Vitals</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <script src="{{ url_for('static', filename='monitor.js') }}"></script>
    <script src="{{ url_for('static', filename='humanize.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='monitor.css') }}">
</head>
<body>
    <h1>Resource & Vital Monitor</h1>

    <div>
        <h2>CPU Usage</h2>
        <p id="cpu-usage"></p>
        <canvas id="cpu-graph" class="line-graph"></canvas>
    </div>

    <div>
        <h2>Memory Usage</h2>
        <p id="memory-usage"></p>

        <canvas id="memory-graph" class="line-graph"></canvas>
    </div>

    <div>
        <h2>Storage Usage</h2>
        <p id="storage-usage"></p>

        <canvas id="storage-graph" style="width:100%;max-width:700px"></canvas>
    </div>

    <div>
        <h2>Usages by PID</h2>
        <table style="width:100%">
          <tr>
            <th style="width:10%;">PID</th>
            <th style="width:50%;">Process Name</th>
            <th style="width:20%;">CPU</th>
            <th style="width:20%;">Memory</th>
          </tr>
          <tr>
            <td>-1</td>
            <td>python3</td>
            <td>1.5%</td>
            <td>4.5 MB</td>
          </tr>
        </table>
    </div>
</body>
</html>