{% extends "layout.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='formHandler.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
    <h1>URL Shortener</h1>
    <p>Free for anyone in Hack Club</p>
    <p>Hosted with 💖 on <a href="https://hackclub.app">Nest</a></p>

    <form method="POST" action="{{ url_for('_api_url_creator') }}" id="create-url-form" class="center box">
        <div class="form-item">
            <label for="original-link-field" class="left-align">URL to redirect to:</label>
            <input type="text" name="original-link-field" id="original-link-field" class="form-item text-box" required>
        </div>
        <div class="error-box left-align hide">
            <span class="material-symbols-outlined">error</span>
            <p id="original-link-error"></p>
        </div><br>

        <label for="shortened-link-field" class="left-align">URL will become:</label>
        <div class="form-item input-group">
            <p>url.felixgao.dev/u/</p>
            <input type="text" maxlength="15" name="shortened-link-field" id="shortened-link-field" class="form-item text-box" required>
        </div>
        <div class="error-box left-align hide">
            <span class="material-symbols-outlined">error</span>
            <p id="shortened-link-error"></p>
        </div>
        <br><br>

        <div class="left-align">
            <input type="checkbox" id="confirm-checkbox">
            <label for="confirm-checkbox">I agree that I am using this service in <b>good faith</b> (otherwise you’ll make Orpheus sad)</label>
        </div>

        <input type="submit" value="Shorten my URL!" id="submit-btn" class="form-item" disabled>
    </form>
{% endblock %}