{% extends "layout.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='clipboardScript.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <!-- Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

{% endblock %}

{% block content %}
    <h1>Your URL has been created! 🎉</h1>

    <p class="bottom-padding">Haphazardly stuck inside PortgreSQL /hj</p>

    <div id="shortened-url" class="box center">
        <p class="left-align">Share your URL with the world!</p>
        <div class="gray-box">
            <p id="clipboard-shortened">{{ shortened_url }}</p>
            <span class="material-symbols-outlined icon div-right" id="btn-shortened">content_paste</span>
        </div>
    </div><br>
    <div class="box center bottom-padding">
        <p class="left-align">Pst... keep this analytics URL, you won’t see this again!</p>
        <div class="gray-box">
            <p id="clipboard-analytics">{{ analytics_url }}</p>
            <span class="material-symbols-outlined icon div-right" id="btn-analytics">content_paste</span>
        </div>
    </div>

    <p>Need another URL? <a href="{{ url_for('landing_page') }}">Go generate another one here!</a></p>
{% endblock %}