# Replit files
.breakpoints
.replit

# Bash files
.bash-history
.bash_logout
.bashrc

# Cache and config files
.cache/*
.config/*

# Idk what these are but we don't need to track em
.face
.face.icon
.kshrc
.lesshst
.local/*
.nix-defexpr/*
.nix-profile
.profile
.python_history

# Env
.env
