# Replit files
.breakpoints
.replit

# Random bash + psql files
.bash_history
.bash_logout
.bashrc
.psql_history

# Cache files
.cache/*

# Idk what these are but we don't need to track em
.face
.face.icon
.kshrc
.lesshst
.local/*
.nix-defexpr/*
.nix-profile
.profile
.python_history
.forward
.ssh/
**/__pycache__/

# Env, venv & git
.env
.gitconfig
.forward
venv/*

# Mail
Mail/
sent/
