{
	admin unix//home/felixgao/caddy-admin.sock
}
http://felixgao.hackclub.app, http://felixgao.dev {
	bind unix/.webserver.sock|777
	bind unix/.felixgao.dev.webserver.sock|777

	root * /home/felixgao/main
	file_server {
		hide .git .env README.md
	}
}

http://monitor.felixgao.hackclub.app, http://monitor.felixgao.dev {
	bind unix/.monitor.webserver.sock|777
	bind unix/.monitor.felixgao.dev.webserver.sock|777

	reverse_proxy :33925
}

http://url.felixgao.dev, http://url.dino.icu {
	bind unix/.url.dino.icu.webserver.sock|777
	bind unix/.url.felixgao.dev.webserver.sock|777

	reverse_proxy :34191
}

http://qr.felixgao.dev {
    bind unix//home/felixgao/.qr.felixgao.dev.webserver.sock|777

    root * /home/felixgao/qr_code
    file_server {
	hide .git .env README.md
    }
}
