psutil
flask
psycopg
validators
qrcode
requests
python-dotenv
websockets
slack_bolt
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability