.line-graph {
    margin-left: 1rem;
    margin-right: 1rem;
}

#pid-data {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
   background-color: #dddddd;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
    box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.graph-selector {
    display: flex;
    align-items: center;
}
