#global-storage-progress {
  width: 100%;
  background-color: grey;
}

#global-storage-bar {
  width: 1%;
  height: 30px;
  background-color: green;
  text-align: center;
  line-height: 30px;
  color: white;
}