.line-graph {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 90%;
    height: 15rem;
}

#pid-data {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
   background-color: #dddddd;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}